/node_modules
/public/hot
/public/storage
/public/assets/bootstrap/package-lock.json
/public/assets/animate.css/package-lock.json
/public/assets/bootstrap-colorpicker/yarn.lock
/public/assets/admin-lte/yarn.lock
/public/assets/admin-lte/package-lock.json
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
